@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
    --accent-color: #793cab;
    --main-color:#4b2686;
    --text-color: white;
    /*#512a90*/
    font-family: 'Raleway', sans-serif;
     scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

header {
    background-image: url(../img/fri-lider-2017.jpg);
    background-size: cover;
    background-position: center;
    min-height: 320px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

header nav img.header-logoFRI{
    margin: 3px;
    margin-top: 0px;
}

header nav a.icon{
    font-size: 50px;
    color: var(--main-color);
    /*align-items: baseline;*/
    margin: auto;
    position: absolute;
    display: block;
}

header nav .mobile-menu{
    width: auto;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
}

nav #menu {
    background-color: var(--accent-color);
    color: var(--text-color);
}

nav #menu li {
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: var(--text-color);
    font-size: 17px;
    display: block;
}

#menu, nav form.header-search-login, header .text-on-banner p  {
    display: none;
 }

