@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
    --accent-color: #793cab;
    --main-color:#4b2686;
    --text-color: white;
    --var--color: #512a90;
    --yellow-color: #ff0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 980px;
    margin: auto;
}

span.mark {
    background: var(--yellow-color);
    width: 100%;
}

header {
    overflow: hidden;
    background: url(../img/fri-lider-2017.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 600px;
    min-width: 320px;
    color: var(--text-color);
    background-attachment:fixed;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2;
}

.sides .fa{
    color: var(--text-color);
    font-size: 50px;
    margin: auto;
    position: absolute;
    display: block;
}
/*Generated data*/
article.generated-data-list{
    position: relative;
    color: var(--main-color);
    background-size: 100%;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 35px;
}
h2.friNumbers{
    text-align: center;
}
.data-list {
    display: grid;
}

article.generated-data-list p.generated-number{
    text-align: center;
    font-size: 70px;
    margin: 0;
}
article.generated-data-list p.generated-item{
    text-align: center;
    font-size: 20px;
    margin: 0;
}


@media (min-width: 750px){
    .data-list{
        grid-gap: 20px;
        grid-template-columns: repeat(4, 2fr);
        grid-template-areas:
        'realised-projects new-candidates members branches';

    }

    .generated-data .realised-projects{
    grid-area: 'realised-projects';
    }
    .generated-data .new-candidates{
        grid-area: 'new-candidates';
    }
    .generated-data .members{
        grid-area: 'members';
    }
    .generated-data .branches{
        grid-area: 'branches';
    }

}

/*News*/
article.news {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    background-size: 100%;
}

article.news h2, article.news {
    align-items: center;
}


article.news-block img, article.suport-projects img {
    display: block;
    width: 100%;
}

article.news-block h4, article.news-block p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

article.news .all-news a {
    font-size: 24px;
    color: var(--main-color);
    justify-content: flex-end;
    margin-right: 10px;
}

.all-news p:hover {
    color: var(--main-color);
    background-color: var(--yellow-color);
    cursor: pointer;
}
@media(min-width: 640px){
    .news-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    .suport-projects-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media(min-width: 980px){
    .news-list{
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-gap: 10px;
    }
    .suport-projects-list{
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-gap: 20px;
    }

    .all-news{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

}

/*Donate desktop*/
article.donate-projects {
    background: url(../img/art-blueprint-brainstorming.jpg);
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
    color: var(--text-color);
    background-size: 100%;
    background-repeat: no-repeat;
}

article.suport-project img {
    width: 100%;
}

.all-projects a {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: var(--text-color);
    width: 100%;
}
.all-projects p:hover {
    color: var(--main-color);
    background-color: var(--yellow-color);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    background-color: transparent;
}

.button:hover {
    color: var(--yellow-color);
    background-color: var(--main-color);
    cursor: pointer;
     border: 0.1em solid var(--yellow-color)
}

@media all and (max-width:30em) {
    .button {
        margin: 0.4em auto;
    }
}

/*Follow*/
article.follow-us {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 20px;
    position: relative;
    flex-direction: column;
    color: var(--text-color);
    background-size: 100%;
}
@media (max-width: 450px){
    article.follow-us h2{
        text-align: center;
    }
}
.description{
    text-align: center;
}

label.description-follow{
    padding-bottom: 15px;
    margin: 5px;
    display: block;
}

input[type=email] {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 8px solid var(--main-color);
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    align-self: center;
    justify-content: center;
}

article.donate-projects h2 span.header, article.follow-us h2 span.header{
    color: var(--main-color);
}


.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    position: relative;
}

h4 {
    color: var(--main-color);
}

.donate-projects h2 span.mark, .follow-us h2 span.mark {
    color: var(--var-color);
}

/*Contacts*/
footer {
    display: grid;
    grid-template-columns: auto auto;
}

.contacts{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 15px;
}

.name-contact{
    color:#aaa;
    text-transform: uppercase;
}

.footer.logo{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    padding: 15px;
}

.footer.logo img{
    width: 150px;
    height: auto;
}

.footer.logo p{
    padding-right: 35px;
}

a {
    text-decoration: none;
}