@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
    --accent-color: #793cab;
    --main-color:#4b2686;
    --text-color: white;
    --var--color: #512a90;
    --yellow-color: #ff0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
}

header {
    overflow: hidden;
    background: url(../img/fri-lider-2017.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 600px;
    min-width: 400px;
    color: var(--text-color);
    background-attachment:fixed;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2;
}

.sides {
text-decoration: none;
}

article.generated-data-list, article.news{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background-size: 100%;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 35px;
}

article.generated-data-list p.generated-number{
    text-align: center;
    font-size: 70px;
    margin: 0;
}
span.mark {
    background: var(--yellow-color);
}